
.tabNav h1{
    margin: 0;
}

.tabNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
}

.active{
    color: var(--primary-color);
    font-weight:bold;
    text-decoration: underline;
    opacity: 1;
}