
.cardText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

}

.cardText h1,h2,h3{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.cardText h1{
    font-size: 28px;
    font-weight: bold;
    color: var(--secondary-color);
}

.cardText h2{
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 600;
    opacity: 0.5;
}

.cardText h3{
    font-size: 18px;
    color: var(--secondary-color);
    opacity: 0.5;
    font-weight: 600;
}