.instaInfo{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.instaInfo img{
    max-width: 100%;
    width: 17px;
    height: 17px;
}

.instaInfo label{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--secondary-color);
    opacity: 0.5;
}